.myContainer {
    color: rgba(34, 34, 34, 0.96);
    position: relative;
    min-height: 100%;
    background-color: #fefef8;
}

/*头部导航栏*/
.nav {
    background-color: rgba(34, 34, 34, 0.96);
    justify-content: center;
    align-items: center;
    display: -webkit-flex; /*webkit内核*/
    flex-wrap: wrap;
    font-weight: 500;
}

.navItem a:link {
    color: #eee9e9;
    text-decoration: none;
    outline: none;
}

.navItem a:visited {
    color: #eee9e9;
    border-bottom: 3px solid gray;
    padding-bottom: 6px;
}

.navItem a:hover {
    color: #a8a3a3;
    border-bottom: 3px solid gray;
    padding-bottom: 6px;
}

.navItem a:active {
    color: #a8a3a3;
    border-bottom: 3px solid gray;
    padding-bottom: 6px;
}

.navBrand a:link {
    color: #eee9e9;
    text-decoration: none;
    outline: none;
}

.navBrand a:visited {
    color: #eee9e9;
    text-decoration: none;
}

.navBrand a:hover {
    color: #eee9e9;
    text-decoration: none;
}

.navBrand a:active {
    color: #eee9e9;
    text-decoration: none;
}

.navBrand {
    font-size: 30px;
}

.navItem {
    font-size: 16px;
    margin-left: 26px;
}

/*主体*/
.main {
    text-align: center;
    margin-top:10%;
}

.main .introduction {
    font-size: 20px;
}

.main .startBtn {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 136px;
    text-align: center;
    color: #282324;
    font-size: 20px;
    font-weight: 600;
    background-color: #f8f3f3;
    border-radius: 6px
}
/*--表单样式--*/


/*.push{
    padding-bottom: 30px;
}*/

/*页脚*/
.footer {
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

/*组件样式*/
/**SelectBox**/
.optionWrapper{
    border: 1px solid cadetblue;
    border-radius: 4px;
    list-style: none;
    padding-left:0;
    height: 120px;
    overflow: scroll;
}
.option {
    display: inline-block;
    font-size:16px;
    line-height:16px;
    padding:6px 10px;
    cursor:pointer;
    width:80px;
}

.optionWrapper li:nth-last-child(1),li:nth-child(1) .option{
    border-radius: 4px;
}

.option:hover{
    background-color: #f8f1f1;
}

.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        /*-webkit-transform: scale3d(.3,.3,.3);*/
        /*transform: scale3d(.3,.3,.3)*/
    }

    100% {
        opacity: 1
    }
}